@inherits LayoutComponentBase

<PageTitle>BlazorAppEmma</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.manchester.ac.uk/" target="_blank">UoM</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
