@page "/"

<PageTitle>Index</PageTitle>

<h1>Emma's toy project</h1>

<div class="row">
    <div class="col-12">Tasks</div>
</div>

<ol>
    <li>Define models for different type of profiles</li>
    <li>List profiles: allow user to choose profile types</li>
    <li>View details of a selected profile</li>
    <li>Edit details of a selected profile</li>
    <li>Add new profile</li>
</ol>